<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="pathToIcons" value="C:\Users\Vincent\OneDrive - Enseignement de la Province de Liège\Cours\B3\.Net\Labo\Final\laboprognet-2227-gerard-zeevaert\WpfAppClient\Assets\Icons\"/>
	<add key="pathToPoster" value="https://image.tmdb.org/t/p/original"/>
	<add key="movieAPI" value="https://api.themoviedb.org/3/movie/"/>
	<add key="appendKey" value="?api_key=2742a4a95911c545482b8eff15183dcf"/>
	<add key="baseUrl" value="http://localhost:5000/"/>
  </appSettings>

</configuration>